body {
  background: var(--rrs-color-white);
  color: var(--rrs-color-black);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  min-height: 100vh;
  text-rendering: optimizelegibility;
  transition:
    color 0.5s,
    background-color 0.5s;
}

.sb-show-main.sb-main-padded {
  padding: 24px;
}
