:root {
  --rrs-color-white: #fff;
  --rrs-color-black: #252b3f;
  --rrs-color-brand: #2d3b6c;
  --rrs-color-brand-100: #e3e9ff;
  --rrs-color-brand-200: #a8b8f1;
  --rrs-color-brand-300: #7f92d3;
  --rrs-color-brand-400: #3d5194;
  --rrs-color-brand-500: #121d40;
  --rrs-color-grey-50: #f5f7fa;
  --rrs-color-grey-200: #ebeff8;
  --rrs-color-grey-300: #dfe3f1;
  --rrs-color-grey-400: #b6bfd4;
  --rrs-color-grey-500: #7e8baa;
  --rrs-color-grey-600: #44506f;
  --rrs-color-green: #21b657;
  --rrs-color-yellow: #ffc500;
  --rrs-color-yellow-100: #fff8de;
  --rrs-color-yellow-200: #ffecc8;
  --rrs-color-yellow-300: #ffe0a5;
  --rrs-color-yellow-400: #fb9600;
  --rrs-color-yellow-500: #fb7800;
}
